<%- include("../eshop/header", {title: title, user: user}); %>

<body>
<h1 class="intro-h1" style="color: black;">Om Eshop: </h1>

<p class="intro-txt" style="color: black;">Eshopp 1 & 2 är skapad av Bashar Altaleb, Muhammed Kheer Abu Khalaf och Edrees Safi</p>
<p class="intro-txt" style="color: black;">Eshoppet 3 är skapad av Bashar Altaleb.</p>

</div>

<%- include("../eshop/footer"); %>
