<%- include("../eshop/header", {title: title, user: user}); %>

<h1>Welcome to the Café</h1>

<p>What do you want to do?</p>
<img class="img" src="../../img/7.jpg" alt="Café image" />
<ul>
    <li><a href="category">View Coffee Category</a></li>
</ul>

<%- include("../eshop/footer"); %>
